@model SIA102_Midterms_2.DTOs.TitleReadDTO

@{
    ViewData["Title"] = "Title Details";
}

<h1>Details</h1>

<div>
    <h4>Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.Title1</dd>

        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">@Model.Type</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price?.ToString("C")</dd>

        <dt class="col-sm-2">Pub Date</dt>
        <dd class="col-sm-10">@Model.Pubdate.ToShortDateString()</dd>

        <dt class="col-sm-2">Notes</dt>
        <dd class="col-sm-10">@Model.Notes</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.TitleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
